.window {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.operation {
  background-color: orange;
}

.display {
  grid-column: 1/ span 4;
  text-align: right;
}

.zero {
  grid-column: 1/ span 2;
}